.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 10px;
  width: 80vmin;
  height: 80vmin;
}

.grid-item {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border: 1px solid #ddd;
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  aspect-ratio: 1 / 1;
}

.grid-item.player {
  cursor: pointer; /* Cursor changes only for player items */
}

.grid-item.toggled {
  background-color: #ccc;
}

.player-status {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.status.oya {
  color: #f44336; /* Red for Oya */
  margin-top: 5px;
}

.status.reach {
  color: #2196f3; /* Blue for Reach */
  margin-top: 5px;
}

.status.tenpai {
  color: #FFA500;
  margin-top: 5px;
}

.player.north {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.player.east {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
}

.player.south {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
}

.player.west {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

.empty {
  grid-column: span 1;
}

.player-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

.player-buttons button {
  margin: 5px;
  padding: 8px 10px;
  cursor: pointer;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f0f0f0;
  transition: background-color 0.1s;
}

.player-buttons button.active {
  background-color: #4caf50; /* Green background when active */
  color: white;
}

.status {
  margin-top: 10px;
  font-weight: bold;
  color: #333;
}

.toggled {
  background-color: #d5f5e3;
}

.large-button {
  width: 100px;    /* 버튼의 너비 */
  height: 50px;    /* 버튼의 높이 */
  font-size: 20px; /* 버튼 텍스트 크기 */
  padding: 10px;   /* 버튼 내부 여백 */
  border-radius: 8px; /* 버튼의 모서리를 둥글게 */
}
